<% if @status %>
  $('#prime-status').html('<span class="label label-success">Prime</span>').show('blind', 1000);
<% else %>
  $('#prime-status').html('<span class="label label-important">Сomposite</span>').show('blind', 1000);
<% end %>